.html {
  background: #f06529;
}
.html-text {
  color: #f06529;
}

.css {
  background: #2965f1;
}
.css-text {
  color: #2965f1;
}

.sass {
  background: #cd6799;
}
.sass-text {
  color: #cd6799;
}

.javascript {
  background: #f0db4f;
}
.javascript-text {
  color: #f0db4f;
}

.react {
  background: #61dbfb;
}
.react-text {
  color: #61dbfb;
}

.bootstrap {
  background: #563d7c;
}
.bootstrap-text {
  color: #563d7c;
}

.git {
  color: #f1502f;
}

.github {
  color: black;
}

.npm {
  color: #cc3534;
}

.node {
  background: #3c873a;
}
.node-text {
  color: #3c873a;
}

.python {
  background: #306998;
}
.python-text {
  color: #306998;
}

.yarn {
  color: #117cad;
}

.github {
  color: #2b3137;
}

.firebase {
  width: 70px;
  height: 70px;
}
.firebase-modal {
  width: 35px;
  height: 40px;
}

.typescript {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
.typescript-modal {
  width: 35px;
  height: 40px;
}

.mongodb {
  width: 60px;
  height: 70px;
}
.mongodb-modal {
  width: 40px;
  height: 50px;
}

.postman {
  width: 75px;
  height: 65px;
}

.software {
  color: #2b3137;
}

.space {
  color: #2b3137;
}

.chemistry {
  color: #2b3137;
}

.homeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/SpaceSelfie.png") no-repeat 25% 100%/cover;
  box-shadow: 5px 5px 35px 5px black;
}
.homeWrapper .homeOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.homeWrapper .homeContent {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 51vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  clip-path: polygon(0 0, 100% 0%, 100% 93%, 0 83%);
  z-index: 2;
}
.homeWrapper .homeContent h1 {
  margin: 20px 0 0;
}
.homeWrapper .homeContent h2 {
  border: none;
  text-align: center;
  padding-top: 10px;
}
.homeWrapper .homeContent h4 {
  margin: 0px 0 10px;
}
.homeWrapper .homeContent span {
  color: #5fa4dc;
}
.homeWrapper .homeContent a:hover {
  color: #5fa4dc;
}
@media (orientation: landscape) and (max-width: 812px) {
  .homeWrapper .homeContent {
    top: 0;
    right: 0;
    margin: 0;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    padding-left: 50px;
    background: rgba(43, 49, 55, 0.5);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .homeWrapper .homeContent h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  .homeWrapper .homeContent h2 {
    border: none;
    text-align: center;
    font-size: 1.6rem;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.2rem;
    margin: 10px 0 10px;
  }
  .homeWrapper .homeContent a {
    margin-bottom: 30px;
  }
}
@media (orientation: landscape) and (min-width: 813px) and (max-width: 1024px) {
  .homeWrapper .homeContent {
    top: 0;
    right: 0;
    margin: 0;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    padding-left: 50px;
    background: rgba(43, 49, 55, 0.5);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .homeWrapper .homeContent h1 {
    font-size: 2.5rem;
  }
  .homeWrapper .homeContent h2 {
    border: none;
    text-align: center;
    font-size: 1.6rem;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.2rem;
    margin: 30px 0 10px;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1366px) {
  .homeWrapper .homeContent {
    top: 0;
    right: 0;
    margin: 0;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    padding-left: 50px;
    background: rgba(43, 49, 55, 0.5);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .homeWrapper .homeContent h1 {
    font-size: 2.5rem;
  }
  .homeWrapper .homeContent h2 {
    border: none;
    text-align: center;
    font-size: 1.6rem;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.2rem;
    margin: 30px 0 10px;
  }
}
@media (orientation: landscape) and (min-width: 1201px) {
  .homeWrapper {
    background: url("../../assets/img/SpaceSelfie.png") no-repeat 75% 70%/cover;
    box-shadow: inset 5px 5px 35px -15px black;
  }
  .homeWrapper .homeContent {
    top: 0;
    right: 0;
    margin: 0;
    width: 55vw;
    height: 100vh;
    background: rgba(43, 49, 55, 0.5);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    justify-content: center;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.2rem;
    margin: 50px 0 10px;
  }
}
@media (orientation: portrait) and (min-width: 670px) and (max-width: 769px) {
  .homeWrapper .homeContent {
    top: 0;
    width: 100vw;
    height: 48vh;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
  }
  .homeWrapper .homeContent h1 {
    font-size: 5rem;
  }
  .homeWrapper .homeContent h2 {
    border: none;
    text-align: center;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.4rem;
    margin: 30px 0 10px;
  }
}
@media (orientation: portrait) and (min-width: 770px) and (max-width: 1200px) {
  .homeWrapper .homeContent {
    top: 0;
    width: 100vw;
    height: 48vh;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
  }
  .homeWrapper .homeContent h1 {
    font-size: 2.5rem;
  }
  .homeWrapper .homeContent h2 {
    border: none;
    text-align: center;
  }
  .homeWrapper .homeContent h4 {
    font-size: 1.4rem;
    margin: 30px 0 10px;
  }
  .homeWrapper .homeContent h1 {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=Landing.module.css.map */
