@import '../../sass/variables';
//------------------------------------//
//--------4. PORTFOLIO SECTION--------//
//------------------------------------//
.portfolioWrapper {
  // padding: 60px 0px;
  background: $colour4;
  padding-bottom: 30px;
  // clip-path: polygon(3% 10%, 97% 0, 97% 90%, 3% 100%);

  h2 {
    width: 120px;
    margin: 0 auto 20px;
  }

  div {
    text-align: center;
  }

  input[type='search'] {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 20px;

    &:focus {
      border: 2px solid grey;
      border-radius: 60px;
    }
  }

  .items {
    // background: blue;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;

    .item {
      border: solid red 5px;
      min-height: 200px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.3), 0 7px 20px 0 rgba(255, 255, 255, 0.3);

      // &:hover {
      //   background: $linear-grad-3d;
      // }
    }
  }
}

// IPad[PORTFOLIO]
@media (min-width: 670px) and (max-width: 769px) {
  .portfolioWrapper {
    // p {
    //   text-align: center;
    // }

    .items {
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .item {
        height: 20px;

        h4 {
          font-size: 1.2rem;
        }
      }
    }

    .modal {
      .modalContent {
        // height: 100%;
        margin: 22vh auto;
        overflow-y: scroll;

        article {
          height: 100%;
          // background: red;
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
      }
    }
  }
}

// IPad Pro[PORTFOLIO]
@media (min-width: 769px) and (max-width: 1200px) {
  .portfolioWrapper {
    .items {
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      h4 {
        font-size: 1.2rem;
      }
    }

    .modal {
      // background: blue;
      .modal-content-wrapper {
        .modal-content {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // background: yellow;
          // height: 100%;
          // margin: 35vh auto;
          article {
            height: 100%;
            // background: red;
            display: grid !important;
            grid-template-columns: 1fr 3fr !important;
          }
        }
      }
    }
  }
}

//Desktop-widescreen[PORTFOLIO]
@media (min-width: 1201px) {
  .portfolioWrapper {
    .items {
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .item {
        height: 20px;

        h4 {
          font-size: 1.2rem;
        }
      }
    }

    .modal {
      .modalContentWrapper {
        .modalContent {
          // height: 100%;
          margin: 20vh auto;

          article {
            height: 100%;
            // background: red;
            display: grid !important;
            grid-template-columns: 1fr 3fr !important;
          }
        }
      }
    }
  }
}
