@import '../../sass/variables';
//------------------------------------//
//--------3. SKILLS SECTION--------//
//------------------------------------//
.skillsWrapper {
  background: white;
  padding: 10px;
  margin: 3vw;
  border-radius: 20px;

  // width: 100vw;
  // clip-path: polygon(3% 10%, 97% 0, 97% 90%, 3% 100%);

  h2 {
    width: 70px;
    margin: 0 auto 20px;
  }

  .items {
    @extend %icon-colours;
    display: grid;
    gap: 20px 0;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 80px);
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    justify-content: center;
  }
}

// IPad[PORTFOLIO]

@media (min-width: 670px) and (max-width: 769px) {
  .skillsWrapper {
    p {
      padding: 0 70px;
    }

    .items {
      padding: 10px 0;
      grid-template-columns: repeat(auto-fit, 100px);
    }
  }
}

// IPad Pro[PORTFOLIO]
@media (min-width: 769px) and (max-width: 1200px) {
  .skillsWrapper {
    p {
      padding: 0 70px;
    }

    .items {
      padding: 20px 0;
      grid-template-columns: repeat(auto-fit, 70px);
    }
  }
}

//Desktop-widescreen[PORTFOLIO]
@media (min-width: 1201px) {
  .skillsWrapper {
    p {
      padding: 0 200px;
    }

    .items {
      // width: 80vw;
      padding: 20px 0;
      grid-template-columns: repeat(auto-fit, 70px);
    }
  }
}
