@import '../../sass/variables';
//------------------------------------//
//--------3. SKILLS SECTION--------//
//------------------------------------//
.skillsWrapper {
  background: white;
  padding: 10px;
  margin: 6vh 3vw;
  border-radius: 20px;
  box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 1);
  // box-shadow: inset 5px 5px 15px -5px rgba(0, 0, 0, 1);
  //

  // background: red;

  // width: 100vw;
  // clip-path: polygon(3% 10%, 97% 0, 97% 90%, 3% 100%);

  h2 {
    width: 70px;
    margin: 0 auto 20px;
  }

  p {
    padding: 0 30px 10px;
    font-size: 1rem;
  }

  .items {
    display: grid;
    gap: 20px 0;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 80px);
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    justify-content: center;
  }
}

// IPad[PORTFOLIO]

@media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
  .skillsWrapper {
    p {
      padding: 0 70px;
    }

    .items {
      padding: 10px 0;
      grid-template-columns: repeat(auto-fit, 100px);
    }
  }
}

// IPad Pro[PORTFOLIO]
@media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
  .skillsWrapper {
    p {
      padding: 0 70px;
    }

    .items {
      padding: 20px 0;
      grid-template-columns: repeat(auto-fit, 70px);
    }
  }
}

//Desktop-widescreen[PORTFOLIO]
@media (min-width: $desktop-min-width) {
  .skillsWrapper {
    p {
      padding: 0 200px;
    }

    .items {
      // width: 80vw;
      padding: 20px 0;
      grid-template-columns: repeat(auto-fit, 70px);
    }
  }
}
