.html {
  background: #f06529;
}
.html-text {
  color: #f06529;
}

.css {
  background: #2965f1;
}
.css-text {
  color: #2965f1;
}

.sass {
  background: #cd6799;
}
.sass-text {
  color: #cd6799;
}

.javascript {
  background: #f0db4f;
}
.javascript-text {
  color: #f0db4f;
}

.react {
  background: #61dbfb;
}
.react-text {
  color: #61dbfb;
}

.bootstrap {
  background: #563d7c;
}
.bootstrap-text {
  color: #563d7c;
}

.git {
  color: #f1502f;
}

.github {
  color: black;
}

.npm {
  color: #cc3534;
}

.node {
  background: #3c873a;
}
.node-text {
  color: #3c873a;
}

.python {
  background: #306998;
}
.python-text {
  color: #306998;
}

.yarn {
  color: #117cad;
}

.github {
  color: #2b3137;
}

.firebase {
  width: 70px;
  height: 70px;
}
.firebase-modal {
  width: 35px;
  height: 40px;
}

.typescript {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
.typescript-modal {
  width: 35px;
  height: 40px;
}

.mongodb {
  width: 60px;
  height: 70px;
}
.mongodb-modal {
  width: 40px;
  height: 50px;
}

.postman {
  width: 75px;
  height: 65px;
}

.software {
  color: #2b3137;
}

.space {
  color: #2b3137;
}

.chemistry {
  color: #2b3137;
}

.aboutWrapper {
  min-height: 100vh;
  background: #c0c5ce;
  margin: 6vh 3vw;
  border-radius: 20px;
  box-shadow: inset 5px 5px 35px -15px black;
}
.aboutWrapper .container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutWrapper .container .aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutWrapper .container .aboutContent .aboutPicture {
  background: url("../../assets/img/graduation.jpg") no-repeat center center/cover;
  min-height: 300px;
  min-width: 300px;
  border-radius: 100%;
  border: 4px solid #5fa4dc;
  box-shadow: 5px 5px 35px -15px black;
}
.aboutWrapper .container .aboutContent p {
  padding: 20px 30px 20px;
  line-height: 1.7rem;
}
@media (min-width: 501px) and (max-width: 768px) {
  .aboutWrapper {
    min-height: 42vh !important;
  }
  .aboutWrapper .aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1.75rem;
  }
  .aboutWrapper .aboutContent .aboutPicture {
    width: 100%;
  }
  .aboutWrapper .aboutContent p {
    line-height: 1.75rem;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .aboutWrapper {
    min-height: 32vh !important;
  }
  .aboutWrapper .aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .aboutWrapper .aboutContent .aboutPicture {
    width: 100%;
  }
  .aboutWrapper .aboutContent p {
    margin-right: 50px;
    line-height: 2rem;
  }
}
@media (min-width: 1201px) {
  .aboutWrapper {
    min-height: 25vh !important;
  }
  .aboutWrapper .aboutContent {
    margin: 10px 10% 0px 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
  }
  .aboutWrapper .aboutContent .aboutPicture {
    width: 100%;
    padding-left: 20%;
  }
  .aboutWrapper .aboutContent p {
    padding-right: 15%;
    padding-left: 5%;
    line-height: 2.2rem !important;
  }
}

/*# sourceMappingURL=About.module.css.map */
