@import '../../sass/variables';
//------------------------------------//
//--------2. NAVBAR SECTION--------//
//------------------------------------//

.navbarWrapper {
  // position: sticky;
  // bottom: 10vh;
  position: fixed;
  bottom: 0vh;
  // background: $grey-50;
  z-index: 4;
  font-size: 0.9rem;
  // color: $white-50;
  box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 1);
  // overflow: hidden;
  // padding: 10px 0;
  // margin: 0px;
  // margin: 0 3vw;
  // border-radius: 20px;

  ul {
    // position: fixed;
    // bottom: 0vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    list-style-type: none;
    width: 100vw;
    background: $grey-70;

    // padding: 5px;
    // background: $white-50;
    // background: blue;

    li {
      display: flex;
      padding: 0 5px 0;
      // padding-bottom: 30px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(205, 205, 205);
        border-radius: 50%;
        height: 20px;
        width: 20px;

        .icon {
          color: $github;
          font-size: 0.8rem;
        }

        // margin-right: 5px;
      }

      p {
        // background: red;
        color: white;
        line-height: 1rem;
        margin-top: 2px;
      }
      // border-radius: 80px;

      &:nth-child(1) {
        background: $colour1-50;
        // border-radius: 20px 0 0 20px;

        &:hover {
          background: $dark-colour;
        }
        // background: yellow;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-right: 3px solid $black-90;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        width: 100%;

        // background: green;
        // i {
        //   // padding-right: 5px;
        //   // padding-right: 15px;
        //   // font-size: 1.5rem;
        // }
      }
    }
  }

  // --------------------------------------------------------------------------

  // LANDSCAPE FORMATS
  @media (orientation: landscape) {
    @media (max-width: $iphoneX-width-landscape) {
      ul {
        position: fixed;
        bottom: 0vh;
      }
    }

    @media (min-width: 813px) and (max-width: $ipad-width-landscape) {
      ul {
        position: fixed;
        bottom: 0vh;
      }
    }

    @media (min-width: 1025px) and (max-width: $ipad-pro-width-landscape) {
      ul {
        position: fixed;
        bottom: 0vh;
      }
    }

    @media (min-width: $desktop-min-width) {
      a {
        &:hover {
          background: $white-50;
        }
      }
    }
  }

  // PORTRAIT FORMATS
  @media (orientation: portrait) {
    // Ipad
    @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
      font-size: 1.2rem;
      // bottom: 0vh;
      // top: 95vh;

      li {
        padding: 5px 5px;

        div {
          height: 2rem;
          width: 2rem;
          .icon {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1rem;
          margin-left: 10px;
        }

        a {
          flex-direction: row;
        }
      }
    }
  }

  // Ipad Pro
  @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
    top: 96.6vh;

    li {
      padding: 5px 5px;

      div {
        height: 2rem;
        width: 2rem;

        .icon {
          font-size: 1rem;
        }
      }

      p {
        font-size: 1rem;
        margin-left: 10px;
      }

      a {
        flex-direction: row;
      }
    }
  }

  // Desktop
  @media (min-width: $desktop-min-width) {
    position: sticky;
    top: 0vh;

    li {
      padding: 5px 5px;

      div {
        height: 2.2rem;
        width: 2.2rem;

        .icon {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1.2rem;
        margin-left: 10px;
      }

      a {
        flex-direction: row;

        &:hover {
          background: $white-50;
        }
      }
    }
  }
}
