@import '../../sass/variables';
//------------------------------------//
//--------2. NAVBAR SECTION--------//
//------------------------------------//

.navbarWrapper {
  position: sticky;
  top: 93vh;
  background: $grey-50;
  z-index: 4;
  font-size: 0.9rem;
  color: $white-50;
  box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 1);

  // margin: 0 3vw;
  // border-radius: 20px;

  // IPad[PORTFOLIO]
  @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
    font-size: 1.2rem;
    top: 95vh;
  }
  @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
    top: 96.6vh;
  }
  @media (min-width: $desktop-min-width) {
    position: sticky;
    top: 0vh;
  }
  // // IPad Pro[PORTFOLIO]
  // @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
  //   font-size: 1.2rem;
  // }

  // @media (min-width: $desktop-min-width) {
  //   font-size: 1.2rem;
  // }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    list-style-type: none;
    // padding: 5px;
    // background: $white-50;
    // background: blue;

    li {
      display: flex;
      padding: 0 5px 0;
      // IPad[PORTFOLIO]
      @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
        padding: 5px 5px;
      }
      // IPad Pro[PORTFOLIO]
      @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
        padding: 5px 5px;
      }

      @media (min-width: $desktop-min-width) {
        padding: 5px 5px;
      }

      // background: red;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(205, 205, 205);
        border-radius: 50%;
        height: 20px;
        width: 20px;

        .icon {
          color: $github;
          font-size: 0.8rem;
        }

        // IPad[PORTFOLIO]
        @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
          height: 2rem;
          width: 2rem;
          .icon {
            font-size: 1rem;
          }
        }
        // IPad Pro[PORTFOLIO]
        @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
          height: 2rem;
          width: 2rem;
          .icon {
            font-size: 1rem;
          }
        }

        @media (min-width: $desktop-min-width) {
          height: 2.2rem;
          width: 2.2rem;
          .icon {
            font-size: 1.2rem;
          }
        }

        // margin-right: 5px;
      }

      p {
        // background: red;
        color: white;
        line-height: 1rem;
        margin-top: 2px;

        // IPad[PORTFOLIO]
        @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
          font-size: 1rem;
          margin-left: 10px;
        }
        // IPad Pro[PORTFOLIO]
        @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
          font-size: 1rem;
          margin-left: 10px;
        }

        @media (min-width: $desktop-min-width) {
          font-size: 1.2rem;
          margin-left: 10px;
        }
      }
      // border-radius: 80px;

      &:nth-child(1) {
        background: $colour1-50;
        // border-radius: 20px 0 0 20px;

        &:hover {
          background: $dark-colour;
        }
        // background: yellow;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-right: 3px solid $black-90;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        width: 100%;

        // background: green;
        // i {
        //   // padding-right: 5px;
        //   // padding-right: 15px;
        //   // font-size: 1.5rem;
        // }

        &:hover {
          background: $white-50;
        }

        // IPad[PORTFOLIO]
        @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
          flex-direction: row;
        }
        // IPad Pro[PORTFOLIO]
        @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
          flex-direction: row;
        }

        @media (min-width: $desktop-min-width) {
          flex-direction: row;
        }
      }
    }
  }
}
