@import '../../sass/variables';

.footerWrapper {
  background: $colour2;
  padding: 10px 0;
  // background: blue;

  .container {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $colour1;
    }
  }
}
