@import '../../sass/variables';
//------------------------------------
//--------5. ABOUT SECTION--------//
//------------------------------------
//
.backgroundWrapper {
  background: white;
  padding-bottom: 30px;
  margin: 3vw;
  border-radius: 20px;

  // clip-path: polygon(3% 10%, 97% 0, 97% 90%, 3% 100%);

  // height: 100vh;   -  SMOOTH SCROLL
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-bottom: 50px;
  // h2 {
  //   color: set-h2-color($light-colour);
  // }

  h2 {
    width: 165px;
    margin: 0 auto 20px;
  }

  p {
    // text-align: center;
    padding-bottom: 10px;
  }

  .items {
    display: grid;
    gap: 40px;
    // background: blue;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 1fr;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // h3 {
      //   color: set-h3-color($dark-colour);
      // }
      i {
        padding-bottom: 10px;
      }

      p {
        // color: set-text-color($dark-colour);
        line-height: 1.8rem;
        padding: 0 10px;
        text-align: justify;
      }

      // i {
      //   // &:nth-of-type(1) {
      //   //   color: rgb(165, 165, 1);
      //   // }
      //   &:nth-of-type(1) {
      //     color: red;
      //   }
      // }
    }
  }
}

// IPad[PORTFOLIO]

@media (min-width: 670px) and (max-width: 769px) {
  .backgroundWrapper {
    p {
      text-align: center;
    }

    .items {
      grid-template-columns: repeat(3, 1fr);

      .item {
        justify-content: flex-start;
      }
    }
  }
}

// IPad Pro[PORTFOLIO]
@media (min-width: 769px) and (max-width: 1200px) {
  .backgroundWrapper {
    p {
      text-align: center;
    }

    .items {
      grid-template-columns: repeat(3, 1fr);

      .item {
        justify-content: flex-start;
      }
    }
  }
}

@media (min-width: 1201px) {
  .backgroundWrapper {
    p {
      text-align: center;
    }

    .items {
      grid-template-columns: repeat(3, 1fr);

      .item {
        justify-content: flex-start;
      }
    }
  }
}
